.code-box {
  position: relative;
}
.copy-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border: none;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  color: black;
  z-index: 5;
  width: 40px;
}

.copy-icon:hover {
  opacity: 0.8;
}