.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.not-found-img {
  width: 400px;
}

.error{
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin: 5px;
}

.go-back-button{
  background-color: black;
  color:#fff;
}