.popup-layout{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 10px;
    margin: 5px;
}

.create-snippet-heading{
    text-align: center !important;
    color:#6B21A8;
}

.save-button{
    background-color:#6B21A8;
    color: aliceblue;
}